*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to bottom right, #cfffac, #428611);
}

h1 {
    font-family: "Rock Salt", helvetica, monospace, sans-serif;
    text-align: center;
}
h2 {
    font-family: "Rock Salt", monospace, sans-serif;
    text-align: center;
}

.titles {
    width: 50%;
    margin: 5% auto;
}


.container{
    width: 40%;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    transform: translate(-50%,-50%);
}
#newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask input{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Montserrat',sans-serif, monospace;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#newtask input:focus{
    outline: none;
    border-color: #4c9a2a;
}
#newtask button{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #4c9a2a;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Montserrat',sans-serif;
}
#tasks{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
}

.task{
    border-radius: 5px;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e6c5;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    display: grid;
    grid-template-columns: 10fr repeat(2, 1fr);
    grid-template-rows: 1fr;
    /* grid-column-gap: 0px;
    grid-row-gap: 0px; */
    padding-left: 20px;
   
}
.task input{
    font-family: 'Montserrat',sans-serif;
    font-size: 15px;
    font-weight: 400;
    background: none;
    border: none;
    appearance: none;
	outline: none;
}
.task button{
    background-color: #4c9a2a;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}

